footer{
    background-color:rgba(255, 68, 0, 0.575) ;
    color: rgb(0, 0, 0) ;
    padding: 2rem 0;
    
    }
.footer .footer__img{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 4rem;

}


.pequeño{
    width: 50px;
}