.anuncio__bajos{
    text-align: center;
    // margin: 10px 200px
}

// #Bajitos{
//     background-color: rgba(255, 68, 0, 0.658);
//     text-align: center;
//     padding: auto 2rem;
    
// }

#Bajitos{
    background-color: rgba(255, 68, 0, 0.658);
    padding: 2rem 4rem;
    margin: 10rem 10rem;
    text-align: center;
}

.video__bajo{
    width: 500px;
}
