#Servicio{
    // background-color: rgba(255, 68, 0, 0.658);
    // padding: 2rem 4rem;
    // margin: 10rem 10rem;
    // text-align: center;
    background-color: rgba(255, 68, 0, 0.678);
   padding: 1rem 2rem;
   margin: 2rem 5rem;
   text-align: center;
}

.img__luthier{
    width: 500px;
    margin: 2rem;
}