@media screen and (max-width: 1000px){
    header{
        flex-direction: column;
        gap: 2rem 1rem;

    }
    .header__img{
        width: 500px;
    }
    .menu__item{
        padding: 1rem;
    }
    a{
        font-size: 1.5rem;
    }

    .gallery{
        grid-template-rows: repeat(4, auto);
        gap: 0.5rem;
    }
    .gallery .gallery__img3{
        grid-column: 1/7;
        grid-row: 2;
    }
    .gallery .gallery__img4{
        grid-column: 7/13;
        grid-row: 2;
    }
    .gallery .gallery__img5{
        grid-column: 1/13;
        grid-row: 3;
    }
    .gallery .gallery__img6{
        grid-column: 1/13;
        grid-row: 4;
    }
    .logo__marcas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        padding: 5rem 0;
        }   
        
}


@media screen and (max-width: 465px){
    header{
        flex-direction: column;
        gap: 0.5rem 0.5rem;
    }

    header nav .menu{
        display: flex;
        flex-direction: column;
    
    }
    .header__img{
        width: 500px;
    }
    .menu__item{
        padding: 0.5rem;
    }
    a{
        font-size: 0.5px;
    }

    .gallery{
        grid-template-rows: repeat(4, auto);
        gap: 0.5rem;
    }
    .gallery .gallery__img3{
        grid-column: 1/7;
        grid-row: 2;
    }
    .gallery .gallery__img4{
        grid-column: 7/13;
        grid-row: 2;
    }
    .gallery .gallery__img5{
        grid-column: 1/13;
        grid-row: 3;
    }
    .gallery .gallery__img6{
        grid-column: 1/13;
        grid-row: 4;
    }
    .logo__marcas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        padding: 5rem 0;
        }
    
    
    
        
}
@media screen and (max-width: 700px){
    h2{
        color: orangered;
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
        margin-top: 4rem;
        text-shadow: 1px 1px 1px #141619;
    }
    
    h3{
        color: rgb(2, 2, 2);
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    }
    

    .video__bajo{
        width: 300px;
    }
    .video__servicio{
        width: 250px;
    }

    .img__luthier{
        width: 230px;
    }

    .formulario{
        justify-content: center;
        font-weight: 500;
        font-size: 1rem;
        margin: 1rem;
        padding: 1rem;
    }
}
        
@media screen and (max-width: 480px){
    header{
        flex-direction: column;
        gap: 0.5rem 0.5rem;
    }

    header nav .menu{
        display: flex;
        flex-direction: column;
    
    }
    .header__img{
        width: 500px;
    }
    .menu__item{
        padding: 0.5rem;
    }
    a{
        font-size: 0.5px;
    }
    
    
    h2{
        color: orangered;
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
        margin-top: 4rem;
        text-shadow: 1px 1px 1px #141619;
    }
    
    h3{
        color: rgb(2, 2, 2);
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    }
    

    .video__bajo{
        width: 300px;
    }
    .video__servicio{
        width: 250px;
    }

    .img__luthier{
        width: 230px;
    }

    .formulario{
        justify-content: center;
        font-weight: 400;
        font-size: 1rem;
        margin: 1rem;
        padding: 1rem;
    }
    
}
