@media screen and (max-width: 1000px){
    header{
        flex-direction: column;
        gap: 2rem 1rem;

    }
    .header__img{
        width: 500px;
    }
    .menu__item{
        padding: 1rem;
    }
    a{
        font-size: 1.5rem;
    }

    .gallery{
        grid-template-rows: repeat(4, auto);
        gap: 0.5rem;
    }
    .gallery .gallery__img3{
        grid-column: 1/7;
        grid-row: 2;
    }
    .gallery .gallery__img4{
        grid-column: 7/13;
        grid-row: 2;
    }
    .gallery .gallery__img5{
        grid-column: 1/13;
        grid-row: 3;
    }
    .gallery .gallery__img6{
        grid-column: 1/13;
        grid-row: 4;
    }
    .logo__marcas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        padding: 5rem 0;
        }   
        
}


@media screen and (max-width: 655px){
    header{
        flex-direction: column;
        gap: 0.5rem 0.5rem;
    }
    .header__img{
        width: 500px;
    }
    .menu__item{
        padding: 0.5rem;
    }
    a{
        font-size: 0.5px;
    }

    .gallery{
        grid-template-rows: repeat(4, auto);
        gap: 0.5rem;
    }
    .gallery .gallery__img3{
        grid-column: 1/7;
        grid-row: 2;
    }
    .gallery .gallery__img4{
        grid-column: 7/13;
        grid-row: 2;
    }
    .gallery .gallery__img5{
        grid-column: 1/13;
        grid-row: 3;
    }
    .gallery .gallery__img6{
        grid-column: 1/13;
        grid-row: 4;
    }
    .logo__marcas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        padding: 5rem 0;
        }
    
    
        
}
@media screen and (max-width: 847px){
    .video__bajo{
        width: 500px;
    }
    .video__servicio{
        width: 300px;
    }
}
        
