body{
    font-family: 'Taviraj', serif;
}

header{
    background-image: url(../Imagenes/amplis.jpg);
}

/*spancings*/

$spacings:(
    spacing-large: 6rem,
    spacing-medium: 2.4rem,
    spacing-small: 2rem,
    spacing-xsmall: 1.5rem,
);



@each $key, $val in $spacings {
    .#{$key}{ 
        padding: #{$val};
    }
    
 }